[viewBag]

[staticMenu]
code = "services"

[blogPosts blogPosts2]
pageNumber = "{{ :page }}"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "hir"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pannon Kft. - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pannon Kft.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Pannon Kft.">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="{{'assets/css/bootstrap.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/bootstrap-theme.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/style.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/magnific/magnific-popup.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/owl-carousel/css/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/owl-carousel/css/owl.theme.css'|theme}}" rel="stylesheet" type="text/css">
        <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{{'assets/css/ie.css'|theme}}" media="screen" /><![endif]-->
        <link href="{{'assets/css/custom.css'|theme}}" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
        <!-- Color Style -->
        <link class="alt" href="{{'assets/colors/color1.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/style-switcher/css/style-switcher.css'|theme}}" rel="stylesheet" type="text/css">
        <script src="{{'assets/javascript/modernizr.js'|theme}}"></script><!-- Modernizr -->
        {% styles %}
    </head>
    <body>
    <!-- Start Header -->
    <div class="header-wrapper">
    	<header class="site-header">
        	<div class="container">
                <div class="site-logo">
                    <a href="{{''|app}}"><img src="{{'assets/images/logo.png'|theme}}" alt="Logo"></a>
                </div>
                <div class="site-tagline"></div>
                <a href="#" class="btn btn-default btn-sm" id="contact-info"><i class="fa fa-bars"></i></a>
                <div class="site-header-right">
                	<ul class="header-info-cols">
  						<li>
                        	<span class="icon-col"><i class="fa fa-map-marker"></i></span>
                            <div><div><span>6500 Baja<br> Petőfi Sándor út 80.</span></div></div>
                        </li>
  						<li>
                        	<span class="icon-col"><i class="fa fa-phone"></i></span>
                            <div><div><span><strong>Itt tud elérni minket</strong><br>+36 79 324-628</span></div></div>
                        </li>
  						<li>
                        	<span class="icon-col"><i class="fa fa-clock-o"></i></span>
                            <div><div><span><strong>Nyitvatartás:</strong><br>Hétfő és Péntek között 8:00-16:00</span></div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main-navigation">
        	<div class="container">
            	<a href="{{'/kapcsolat'|app}}"  class="yelow-bg btn btn-primary btn-sm pull-right quote-head-btn">Kapcsolat</a>
            	<ul class="pull-right social-icons">
                	<li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                	<li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                	<li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <a href="#" id="menu-toggle">Menu</a>
                <nav role="menu">
                <ul class="dd-menu sf-menu">
                     <li><a href="{{''|app}}">Főoldal</a></li>
                     <li><a href="{{'/rolunk'|app}}">Rólunk</a></li>
                     <li><a href="{{'/hirek'|app}}">Hírek</a></li>

                    <li class="megamenu"><a href="javascrip:void(0)">Szolgáltatásaink</a>
                        <ul class="dropdown">
                            <li>
                                <div class="megamenu-container container">
                                    <div class="row">
                                        <div class="col-md-3 megamenu-col">
                                        	<span class="megamenu-sub-title">Szolgáltatások</span>
                                            <ul class="sub-menu">
                                                {% component 'staticMenu' %}
                                            </ul>
                                        </div>
                                        <div class="col-md-4 megamenu-col">
                                        	<span class="megamenu-sub-title">Legfrisebb hírek</span>
                                        	<div class="widget recent_posts">
                                            	<ul>
                                            	    {% set posts = blogPosts2.posts %}
                                            	        {% for post in posts %}
                                                	        <li>
                                                    	        <a href="{{ post.url }}" class="media-box">{% if post.featured_images.count %}
                                                        {% for image in post.featured_images|slice(0, 1) %}
                                                            <img src="{{image.path}}" alt="image.title != null ? image.title : post.title">       
                                                        {% endfor %}
                                                    {% else %}
                                                        <img src="{{'assets/images/img9.jpg'|theme}}"
                                                        alt="">
                                                    {% endif %}</a>
                                                		        <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                                                		        <span class="meta-data grid-item-meta">{{ post.published_at|date('Y-M-d') }}</span>
                                                            </li>
                                                    {% else %}
                                                        <li>
                                                           {{ noPostsMessage }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-5 megamenu-col">
                                        	<span class="megamenu-sub-title">Instagram</span> 
                                        	<img src="{{'assets/images/img2.png'|theme}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                      	</ul>
                  	</li>
                </ul>
                </nav>
            </div>
        </div>
    </div>