[viewBag]
title = "Állattenyésztés"
url = "/allattenyesztes"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">Társaságunk 2000 óta foglalkozik tejhasznú kecskék tenyésztésével. Két fajtára öszpontosítva:</p>

<p style="text-align: justify;"><span>Alpesi ,és Szánentáli vegyes korcsoportú állománnyal. A fő irányelv a tejhozam növelése, e két faj keresztezésével, és a tej feldolgozására épített sajtüzem ellátása.</span></p>

<p style="text-align: justify;">A mezőgazdasági melléktermékek és az állatok által termelt szervestrágya felhasználására , és a kft. tulajdonában levő legelő területek hasznisítására 2007 nyarán elindítottuk szarvasmarha tenyésztő ágazatunkat is. Első lépésben 30 db. Holstein-fríz növendékkel.</p>