[viewBag]
title = "Étolajgyártás"
url = "/etolajgyartas"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">Vállalatunk 100% naprafogóból készült hidegen sajtolt és finomított étolaj gyártásában és forgalmazásában is tevékenykedik.Az étolaj alapanyagát, a napraforgót nagyobb részt saját területünkön termesztjük. Ennek köszönhetően a vetőmag földbe kerülésétől a késztermék előállításáig szakszerű kezelés és ellenőrzés mellett történik az étolaj gyártása. A cégünk által gyártott napraforgó étolaj kizárólag hidegsajtolással készül.</p>

<p style="text-align: justify;"><span>A gyártási folyamat egyszerű, természetes. Az étolajat gyártása során nem tesszük ki hőhatásnak, és egyéb vegyszeres kezeléseknek. Az előállított étolaj szobahőmérsékletű, tehát tartalmazza mindazt a vitamint és ásványi anyagot, amely a napraforgóban megtalálható. A sajtoláskor melléktermékként keletkezett préselményben lévő kb 10% olajmaradékot nem vonjuk ki különböző módszerekkel. A préselményt állati takarmányként értékesítjük.</span></p>

<p style="text-align: justify;">Partnerünk volt a<span>&nbsp;</span><strong>Cora</strong>, és a<span>&nbsp;</span><strong>Profi üzletlánc</strong>.</p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;"><span>A hidegen sajtolt étolaj mellett készítünk takarmány olajat is:</span></p>

<p style="text-align: justify;">A mechanikus sajtolást követően szűrjük az olajat. Ez a tisztaság és minőség megfelelő az állatok takarmányozására használt tápokhoz keverve.</p>

<p style="text-align: justify;"><span>Kereskedelmi kapcsolatban álltunk a &nbsp;PURINA takarmánykeverőivel, és a Hungaromill Kft.-vel</span></p>