[viewBag]
title = "Integrációs szolgáltatás"
url = "/integracios-szolgaltatas"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">Azoknak a termelőknek akik nem rendelkeznek megfelelő technológiai háttérrel, termelő berendezésekkel, illetve gépekkel, a Kft. integrációs szolgáltatást végez. A társaság az integrált szántón a saját és vásárolt vetőmagot, műtrágyát, gépi szolgáltatást helyezi ki a termelők részére, amely biztosítja a termelés beindítását.</p>

<p style="text-align: justify;"><span>Teljeskörű szolgáltatásainkkal biztosítjuk a termelőknek az átlagnál magasabb terméshozamok megvalósítását, és a minőségi termések termelését.</span></p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">Partnereink számára biztosítjuk a betakarítást, és a termények kikészítését (tisztítás, szárítás), valamint a termény raktározását,megvásárlását vagy a társaságon keresztüli értékesítését.</p>

<p style="text-align: justify;"><span>A mezőgazdasági termeltetésen felül partnereinknek ingyenes tanácsadást biztosítunk tápanyagpótlási, és vegyszerkijuttatási kérdésekben.</span></p>

<p style="text-align: justify;">A teljeskörű szolgáltatás magában foglalja:</p>

<ul>
	<li style="text-align: justify;">A szántóföldi alapművelést, vetést, tápanyagutánpótlást, vegyszerezést, betakarítást.</li>
	<li style="text-align: justify;"><span>A betakarított növények tisztítását-szárítását, raktározását és értékesítését.</span></li>
	<li style="text-align: justify;">Az integrált termények értékesítési lehetőségeiről is gondoskodik a társaság.</li>
</ul>