[viewBag]
title = "Kereskedelem"
url = "/kereskedelem"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">Nagy jelentősége van a mezőgazdasági integrációnak a terménykereskedelemben számunkra.
	<br>
	<br>Partnereink részére nyújtott teljeskörű szolgáltatásainkkal biztosítjuk ugyanazt a technológiát-anyagokat (vetőmag, vegyszer, műtrágya) amelyekkel dolgozunk, így a felvásárolt termények minősége megegyezik a kft. által előállítottéval.
	<br>
	<br>A nagy mennyiségű árualappal előnyösebb piaci helyzetet tudunk teremteni partnereik részére. Egyúttal rendelkezünk olyan méretű infrastruktúrával, illetve kapcsolatrendszerrel, mely lehetővé teszi, hogy a megyén kívüli, országos érdekeltségű gabonakereskedő cégekkel is tárgyaljunk, és egyes termékeinket direkt értékesítsük külföldre. ezáltal kedvezőbb piaci pozíciót tudjunk kínálni az értékesítésre felajánlott gabonára.
	<br>
	<br><strong>A főbb profilunk mezőgazdasági terményekből:</strong></p>

<ul>
	<li style="text-align: justify;">Őszi árpa: tavaszi, takarmány</li>
	<li style="text-align: justify;">Őszi búza: étkezési, takarmány, vetőmag</li>
	<li style="text-align: justify;">Triticale -Olajipari Napraforgó</li>
	<li style="text-align: justify;">Takarmány Kukorica</li>
	<li style="text-align: justify;">Szója: étkezési, vetőmag, ipari szója</li>
</ul>

<p style="text-align: justify;">
	<br>Ezen termények felvásárlása ,értékesítése.</p>