[viewBag]
title = "Növénytermesztés"
url = "/novenytermesztes"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">A <strong>Pannon &nbsp;Kft.</strong><span>&nbsp;</span>fő profilja a szántóföldi növénytermesztés.
	<br>
	<br>Az integráció szerepe nagyon fontos számunkra, mert a társaságunkkal kapcsolatban álló termelők az általunk előállított vagy vásárolt vetőmag felhasználásával a piacon versenyképes terméket tudnak előállítani.
	<br>
	<br>A gazdálkodás saját földterületen és bérelt területen saját tulajdonban lévő infrastrukturális és technológiai háttérrel történik.
	<br>
	<br>Intenzív növénytermesztésre törekszünk, magas termésátlagokat célozunk meg. Ennek érdekében magas szinten folytatjuk a tápanyag utánpótlást és a növényvédelmet. A jövedelmező termelés érdekében a tápanyag utánpótlást talaj- és növényvizsgálatok eredményei alapján optimalizáljuk.
	<br>
	<br>Műszaki hátterünk magas színvonalú. Fiatal, jó minőségű géppark és hatékony munkagépek segítik a versenyképes termésátlagok elérését.
	<br>
	<br>Ennek alapvető feltétele a géppark folyamatos fejlesztése-állagmegóvása, és új technológiák alkalmazása.
	<br>
	<br>A növénytermesztésben változatos növénykultúrákat termelünk:</p>

<ul>
	<li style="text-align: justify;">Őszi Árpa</li>
	<li style="text-align: justify;">Őszi búza: ezen bellül étkezési,takarmány,és vetőmag</li>
	<li style="text-align: justify;">Triticale:takarmányozási célra</li>
	<li style="text-align: justify;">Napraforgó: olajipari célra</li>
	<li style="text-align: justify;">Szójabab: Humán,vetőmag,ipari szója</li>
	<li style="text-align: justify;">Takarmány kukorica</li>
	<li style="text-align: justify;">Hibrid kukorica előállítás</li>
	<li style="text-align: justify;">Csemege kukorica, zöldborsó termelés</li>
</ul>