[viewBag]
title = "Rólunk"
url = "/rolunk"
layout = "about"
is_hidden = 0
navigation_hidden = 0
==
<p><img src="themes/pannon/assets/images/img16.jpg" alt="" class="align-left fr-fic fr-dii"></p>

<h2>Pannon Kft</h2>

<p style="text-align: justify;">Gazdasági társaságunk<span>&nbsp;</span><strong>1991</strong>-ben alakult természetes személyekből.
	<br>A megalakulást követő években kereskedelmi tevékenységet folytatott .<span>&nbsp;</span>
	<br><strong>1993</strong>-ban nyílt lehetőség szántó és legelő művelési ágú földterület megvásárlására a vágotthegyi "igal" major térségében.
	<br>
	<br><span>A Kft. azt a célt tűzte ki maga elé, hogy színvonalas gazdálkodással, korszerű technikai fejlesztésekkel, átgondolt piackutatással olyan szintű középgazdaságot tudjon kialakítani , amely megfelel az EU szabványoknak.&nbsp;</span>
	<br>
	<br><span>Ezért nagy hangsúlyt fektetünk a térségben gazdálkodó termelők integrációjára. Évek során nagy problémát okozott likviditási szempontból az "egylábonállóság". Ennek kiküszöbölésére, valamint a Kft. által előállított napraforgó továbbfeldolgozottsági szintjének emelése érdekében <strong>1996</strong>-ban cégünk megépített egy napraforgó sajtoló üzemet, mely<span>&nbsp;</span><strong>HACCP</strong> audittal is rendelkezik.</span>
	<br>
	<br><span>A saját termelés feltételrendszerének kialakításában igen jelentős előrelépést jelentett az <strong>1998</strong>-ban átadott és üzembe helyezett 2000 tonnás síktároló valamint egy Cimbria terményszárító berendezés, majd a következő évben megépített 6 db, egyenként 400 tonnás kapacitású fémsiló rendszer.</span>
	<br>
	<br><span>Ezzel párhuzamosan jelentős fejlesztéseket eszközölt a cég a növénytermesztés technikai színvonalának emelése, eszközrendszerének korszerűsítése tekintetében is erő- és munkagép beruházásaival. <strong>2000</strong>-ben elindult az állattenyésztési ágazat is tejhasznú kecskék tartásával.<span>&nbsp;</span><strong>2004</strong>-ben Sapard támogatás keretén belül megépüllt egy 400 vagonos szemestermény tároló is telephelyünkön, mely nagyban elősegítette a magántermelőktől felvásárolt áru raktározását. Ebben az évben került sor a majorhoz vezető 3 km-es út felújítására, és egy nyitott gépszín építésére is.&nbsp;</span>
	<br>
	<br><span><strong>2006</strong>-tól megkezdődött a major tereprendezési tervének megvalósítása, mely keretén belül megépült egy korszerű mérlegház, és egy szociális épület, nyitott gépszínnel. Ezzel párhuzamosan a telephely szilárd burkolatának, és csatornahálózatának kialakítása is elkezdődött, amely folyamat még tart. <strong>2006</strong>-ban került átadásra a kecsketej feldolgozására szolgáló sajtüzem.<span>&nbsp;</span><strong>2007</strong> augusztusában az állattenyésztési ágazat kibővült szarvasmarhák húshasznú tenyésztésével.</span>
</p>