[viewBag]
title = "Sajtgyártás"
url = "/sajtgyartas"
layout = "services"
is_hidden = 0
navigation_hidden = 0
==
<p style="text-align: justify;">Magyarországon a kecsketej gyógyító hatását eloször egy 17. századi könyv említi.<span>&nbsp;</span></p>

<p style="text-align: justify;">Az antibiotikumok felfedezéséig szinte mindegyik tüdoszanatórium mellett kecsketenyészet is volt, a kecsketejkúra a tébécé gyógyításának fontos része volt. Még századunk elején is hirdették egyes gyermekorvosok, hogy a kecske a legjobb “szoptatós dada”. Tejének csíraszáma csekély, tébécé és brucellózis pedig a kecskénél szinte nem is fordul elo, teje forralás nélkül is iható, így benne a vitaminok épségben megmaradnak.</p>

<p style="text-align: justify;"><span>A kecsketej felhasználási területe eléggé sokrétü. Társaságunknál a képződött tejet sajtok előállítására használjuk fel.</span></p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;">A sajtok két változatát gyártjuk:</p>

<p style="text-align: justify;"><strong>FÉLKEMÉNY KECSKESAJT:</strong></p>

<p style="text-align: justify;"><span>A sajt zsíros tapintású, rugalmas és kérges. Metszéslapja zárt, esetleg kevés rög-, illetve erjedési lyukat tartalmaz. A felvágott sajt tompafehér, esetleg halványsárga, a kéregnél sötétebb sárga színű. Sajttésztája rugalmas és jól vágható, szájban kellemesen olvad el. Illata jellegzetesen érett, íze kellemesen aromás és sós jellegű. Ízesített változataiban - zöldfűszeres és füstölt - az ízesítő anyag határozott és egyenletes elhelyezkedésű</span></p>

<p style="text-align: justify;">
	<br>
</p>

<p style="text-align: justify;"><strong>LÁGY KECSKESAJT:</strong></p>

<p style="text-align: justify;">A felvágott sajt tompafehér fényű, metszéslapján apró röglyukak fordulhatnak elő. Gyengén savóeresztő. A finom,zsíros tapintású, kissé lágy tésztaállomány igen jól vágható, állaga omlós, rugalmas és finomszerkezetű.Illata és íze enyhén savanykás, kissé sós és fűszeres zamattal. A lágy kecskesajt mind natúr, mind zöldfűszeres változatában közvetlenül fogyasztva, hideg és meleg szendvicsekhez kellemes és könnyű étel</p>