description = "rolunk"

[staticPage]
useContent = 1
default = 0
==
{% partial 'site/header' %}
    <!-- End Header -->
    <!-- Start Hero Area -->
    <div class="hero-area">
    	<div class="page-header dark">
        	<div class="container">
                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{'/rolunk'|app}}">Főoldal</a></li>
                    <li class="active">Rólunk</li>
                </ol>
            	<h1>Rövid bemutatkozásunk</h1>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content padding-b0">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-9 col-sm-7">
                    	{% page %}
                        <div class="spacer-30"></div>
                        {% partial 'rmunkasok' %}
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <div class="widget sidebar-widget text_widget">
                            <div class="feature-block">
                                <h5>Kapcsolati információ</h5>
                                <p>6500 Baja<br>Petőfi Sándor út 80.</p><br>
                                <p><strong>Hívjon minket</strong><br><span class="accent-color">+36 79 324-628</span></p><br>
                            </div>
                       	</div>
                    	<div class="widget sidebar-widget text_widget">
                        	<a href="#" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o fa-2x"></i> Katalógusunk letöltése</a>
                        </div>
                        <div class="widget sidebar-widget">
                            <div class="carousel-wrapper">
                                <div class="row">
                                    <ul class="owl-carousel carousel-fw" id="testimonials-slider" data-columns="1" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-mobile="1">
                                        <li class="item">
                                            <div class="testimonial-block">
                                                <blockquote>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                                </blockquote>
                                                <div class="testimonial-avatar"><img src="{{'assets/images/user1.jpg'|theme}}" alt="" height="60" width="60"></div>
                                                <div class="testimonial-info">
                                                    <div class="testimonial-info-in">
                                                        <strong>Kovács Krisztián</strong><span>Csoma</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="testimonial-block">
                                                <blockquote>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                                </blockquote>
                                                <div class="testimonial-avatar"><img src="{{'assets/images/user2.jpg'|theme}}" alt="" height="60" width="60"></div>
                                                <div class="testimonial-info">
                                                    <div class="testimonial-info-in">
                                                        <strong>Magyar Bálint</strong><span>Dunaföldvár</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           	</div>
            <div class="spacer-40"></div>
        </div>
   	</div>
{% partial 'site/footer' %}