description = "blogpost"

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[staticMenu staticMenu2]
code = "services"
==
{% partial 'site/header' %}
    <div class="hero-area">
    	<div class="page-header dark">
        	<div class="container">
                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{''|app}}">Főoldal</a></li>
                    <li> <a href="{{'/hirek'|app}}" class="active">Hírek</a></li>
                </ol>
            	<h1>Hírek</h1>
            </div>
        </div>
    </div>
{% set post = blogPost.post %}
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-9 col-md-8">
                    	<h2>{{ post.title }}</h2>
                    	<div class="post-media">
                    	   {% if post.featured_images.count %}
                    	       {% for image in post.featured_images|slice(0, 1) %}
                    	           <img src="{{image.path}}" alt="image.title != null ? image.title : post.title">       
                    	       {% endfor %}
                    	   {% else %}
                    	       <img src="{{'assets/images/img9.jpg'|theme}}" alt="">
                    	   {% endif %}
                        </div>
                        <div class="blog-item-meta">
                        	<div class="meta-data"><i class="fa fa-clock-o"></i> {{ post.published_at|date('Y-M-d') }}</div>
                            <div class="meta-data"><a href="#">Pannon Kft.</a></div>
                        </div>
                        <div class="post-content">
                        	{{ post.content_html|raw }}
                      	</div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="widget sidebar-widget widget_custom_menu">
                        	<ul>
                            	{%component 'staticMenu2' %}
                            </ul>
                        </div>
                    	<div class="widget sidebar-widget text_widget">
                        	<div class="accent-bg text_banner">
                            	<h4>Kérdése van?</h4>
                        		<p>Ügyfélszolgálatunk áll rendelkezésére hétköznaponként munkaidőben.</p>
                                <a href="{{'/kapcsolat'|app}}" class="btn btn-default btn-ghost btn-light">Elérhetőségek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   	</div>
{% partial 'site/footer' %}