description = "blog list"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "Nem találhatóak hírek"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "hir"

[staticMenu staticMenu2]
code = "services"
==
{% partial 'site/header' %}
    <div class="hero-area">
    	<div class="page-header dark">
        	<div class="container">
                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{''|app}}">Főoldal</a></li>
                    <li class="active">Hírek</li>
                </ol>
            	<h1>Hírek</h1>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-9 col-md-8">
                            {% set posts = blogPosts.posts %}
                                    {% for post in posts %}
                                        <div class="blog-list-item format-standard">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5">
                                                <a href="{{ post.url }}" class="media-box">
                                                    {% if post.featured_images.count %}
                                                        {% for image in post.featured_images|slice(0, 1) %}
                                                            <img src="{{image.path}}" alt="image.title != null ? image.title : post.title">       
                                                        {% endfor %}
                                                    {% else %}
                                                        <img src="{{'assets/images/img9.jpg'|theme}}"
                                                        alt="">
                                                    {% endif %}
                                                    <span class="date">
                                                        <span class="day">{{ post.published_at|date('d') }}</span>
                                                        <span class="month">{{ post.published_at|date('M') }}</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h3 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                                <div class="blog-item-meta">
                                                    <div class="meta-data"><a href="#">Pannon Kft.</a></div>
                                                </div>
                                    			<p>{{ post.summary|raw }}</p>
                                                <a href="{{ post.url }}" class="basic-link">Tovább a hírhez</a>
                                            </div>
                                        </div>
                                        </div>
                                    {% else %}
                                        <div class="col-md-12 col-sm-12">
                                            <div class='alert alert-danger'>{{ noPostsMessage }}</div>
                                        </div>
                                    {% endfor %}
                                </ul>
                        <!-- Page Pagination -->
                            {% if posts.lastPage > 1 %}
                                <nav>
                                    <ul class="pagination pagination-lg">
                                        {% if posts.currentPage > 1 %}
                                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Előző</a></li>
                                        {% endif %}
                                
                                        {% for page in 1..posts.lastPage %}
                                            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                                                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                
                                        {% if posts.lastPage > posts.currentPage %}
                                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Következő &rarr;</a></li>
                                        {% endif %}
                                    </nav>
                                {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="widget sidebar-widget widget_custom_menu">
                        	<ul>
                            	{%component 'staticMenu2' %}
                            </ul>
                        </div>
                    	<div class="widget sidebar-widget text_widget">
                        	<div class="accent-bg text_banner">
                            	<h4>Kérdése van?</h4>
                        		<p>Ügyfélszolgálatunk áll rendelkezésére hétköznaponként munkaidőben.</p>
                                <a href="{{'/kapcsolat'|app}}" class="btn btn-default btn-ghost btn-light">Elérhetőségek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   	</div>
{% partial 'site/footer' %}