description = "szolgaltatasok"

[staticPage]
useContent = 1
default = 0

[staticMenu staticMenu2]
code = "services"
==
{% partial 'site/header' %}
    <!-- End Header -->
    <!-- Start Hero Area -->
    <div class="hero-area">
    	<div class="page-header" style="background-image:url({{'assets/images/page-header5.jpg'|theme}}); background-repeat:no-repeat; background-position:center center;">
        	<div class="container">
                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{''|app}}">Főoldal</a></li>
                    <li>Szolgáltatások</li>
                    <li class="active">{{ this.page.title }}</li>
                </ol>
            	<h1>{{ this.page.title }}</h1>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-9 col-sm-8">
                	{% page %}
                   	</div>
                    <div class="col-md-3 col-sm-4">
                    	<div class="widget sidebar-widget widget_custom_menu">
                        	<ul>
                            	{%component 'staticMenu2' %}
                            </ul>
                        </div>
                    	<div class="widget sidebar-widget text_widget">
                        	<div class="accent-bg text_banner">
                            	<h4>Kérdése van?</h4>
                        		<p>Ügyfélszolgálatunk áll rendelkezésére hétköznaponként munkaidőben.</p>
                                <a href="{{'/kapcsolat'|app}}" class="btn btn-default btn-ghost btn-light">Elérhetőségek</a>
                            </div>
                        </div>
                    </div>
                </div>
           	</div>
        </div>
   	</div>
   {% partial 'site/footer' %}