==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pannon Kft. - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pannon Kft.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Pannon Kft.">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="{{'assets/css/bootstrap.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/bootstrap-theme.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/style.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/magnific/magnific-popup.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/owl-carousel/css/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/vendor/owl-carousel/css/owl.theme.css'|theme}}" rel="stylesheet" type="text/css">
        <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{{'assets/css/ie.css'|theme}}" media="screen" /><![endif]-->
        <link href="{{'assets/css/custom.css'|theme}}" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
        <!-- Color Style -->
        <link class="alt" href="{{'assets/colors/color1.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/style-switcher/css/style-switcher.css'|theme}}" rel="stylesheet" type="text/css">
        {% styles %}
    </head>
    <body>