/*------------------------------------------------------------------
[Master Stylesheet]
Project:	GreensKeeper
Version:	1.0
Last change:	04/21/16
Author:	imithemes 
-------------------------------------------------------------------*/
/* Stylesheets and Google fonts import */
@import url("font-awesome.css");
@import url("line-icons.css");
@import url("animations.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);


/*------------------------------------------------------------------
[Table of contents]

0. CSS Reset
1. Basic Styles
2. Typography
3. Margin Bottom Sets
4. Padding Sets
5. Spacers Sets
6. Site Structure & Appearance
7. Responsive Media Queries
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline:none;
}
iframe{
	border:0;
}

/* ==================================================
   1. Basic Styles
================================================== */

html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
a{
	color:#5e5e5e;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
a:hover,
a:active,
a:focus{
	text-decoration:none;
	outline: 0;
	color:#5e5e5e;
}
.basic-link:hover{
	opacity:.8
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;	
}
.gray-bg{
	background:#CDCBCB;
}
.gray-text{
	color:#CDCBCB;
}
.lgray-bg{
	background:#F7F7F7;
}
.dgray-bg{
	background:#454545;
}
img {
	max-width: 100%;	
}
img, object, embed, audio, video {
	max-width: 100%;
}
img {
	height: auto;
}
strong, .strong {
  	font-weight: 700;
}
p {
	margin: 0 0 20px;
}
i, em, .italic{
	font-style:italic;
}
.uppercase{
	text-transform:uppercase;
}
.align-left{
	float:left;
	margin:5px 25px 20px 0px!important;
}
.align-right{
	float:right;
	margin:5px 0 20px 25px!important;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;	
}
.color-text {
    color: #ffffff;
}
.through{
	text-decoration:line-through;
}
.border-radius{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}
iframe{
	border:0;
}

/* ==================================================
   2. Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 20px 0;
	color:#555;
	font-weight:700;
	line-height:1.5em;
	font-family: 'Lato', sans-serif;
}
h1{
	font-size:36px;
}
h2{
	font-size:30px;
}
h2 small{
	display:block;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-size:45%
}
h3{
	font-size:24px;
}
h4{
	font-size:17px;
}
h5{
	font-size:15px;
	text-transform:uppercase;
}
h6{
	font-size:13px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
	margin-bottom:0;
}
h1.long, h2.long, h3.long, h4.long, h5.long, h6.long, p.long{
	margin-bottom:35px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	text-decoration:none;
}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label{
	font-size:11px;
	position:relative;
	top:-6px;
}
.huge{
	font-size:10em;
}
blockquote{
	margin-bottom:30px;
	position:relative;
}
blockquote:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:30px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f10d";
	margin-bottom:12px;
}
blockquote:after{
	width:80px;
	height:6px;
	display:inline-block;
	content:"";
	margin-top:22px;
}
blockquote.aligncenter{
	text-align:center;
}
blockquote p{
	margin-bottom:0;
	padding-left:30px;
}
blockquote cite{
	font-weight:700;
}
blockquote cite:before{
	content:"- ";
}
p.lead{
	font-size:20px;
	line-height:28px;
}
p.md{
	font-size:16px;
}
p.lg{
	font-size:30px;
}
.lighter p{
	color:#ccc;
}
p.small{
	font-size:10px;
	line-height:13px;
}
.big{
	font-size:200%;
	line-height:1.5em;
}
.thin{
	font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
hr{
	display:block;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	height:1px;
	border:0;
	background:#E8E8E8;
}
hr.sm{
	display:inline-block;
	margin:0 0 15px 0;
	height:3px;
	width:67px;
	border:0;
	position:relative;
	background:none;
}
hr.sm:before{
	content:"||-||-||-||-||-||-||";
	position:absolute;
	font-size:13px;
	color:#ddd;
	top:-10px;
	left:0;
}
.text-align-center hr.sm:after{
	position:absolute;
	width:3px;
	height:3px;
	content:" ";
	left:-6px;
}
hr.md{
	display:inline-block;
	margin:15px 0;
	width:100px;
	height:2px;
	border:0;
}
hr.fw{
	display:block;
	clear:both;
	margin-bottom:30px;
	margin-top:15px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.fw.cont{
	margin:20px 0;
}
ul.checks, ul.angles, ul.carets, ul.chevrons, ul.icons{
	margin:0;
	list-style-type:none;
	margin-bottom:20px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li, ul.icons > li{
	margin:5px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i, ul.icons > li > i{
	margin-right:2px;
}
ul.inline{
	margin:10px 0;
}
ul.inline > li{
	display:inline-block;
	margin-right:10px;
}
ul.inline > li i.fa{
	margin-right:2px;
}
ul.nav-list-primary > li a{
	display:block;
	padding:8px;
	border-bottom:1px solid #eee;
	color:#666666;
	text-decoration:none;
}
ul.nav-list-primary > li a:hover{
	text-decoration:none;
}
ul{
	margin:10px 0 10px 20px;
	list-style-type:disc;
}
ol{
	margin:10px 0 10px 30px;
	list-style-type: decimal;
}
ul ul, ol ul{
	margin:10px 0 10px 20px;
}
ul ul{
	list-style-type:circle;
}
dl{
	margin:10px 0;
}
dl dt{
	font-weight:700;
}
address.ico i{
	display:inline-block;
	float: left;
	clear:both;
	padding-top: 3px;
}
address.ico p{
	margin:0;
	padding-bottom:10px;
}
address.ico span{
	display:inline-block;
	padding-left:20px;
}
.cursive{
	font-style:italic;
	text-transform:none;
	font-weight:400;
	letter-spacing:0;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight:400;
  color:#666;
}

/* ==================================================
   3. Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}
.margin-5{
	margin-bottom:5px !important;
}
.margin-10{
	margin-bottom:10px !important;
}
.margin-15{
	margin-bottom:15px !important;
}
.margin-20{
	margin-bottom:20px !important;
}
.margin-30{
	margin-bottom:30px !important;
}
.margin-40{
	margin-bottom:40px !important;
}
.margin-50{
	margin-bottom:50px !important;
}
.margin-60{
	margin-bottom:60px !important;
}
.margin-70{
	margin-bottom:70px !important;
}
.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:35px;
}

/* ==================================================
   4. Padding Sets
================================================== */
.padding-b0{
	padding-bottom:0!important;
}
.padding-tb0{
	padding-top:0!important;
	padding-bottom:0!important;
}
.padding-tb20{
	padding-top:20px;
	padding-bottom:20px;
}
.padding-tb45{
	padding-top:45px;
	padding-bottom:45px;
}
.padding-tb75{
	padding-top:75px;
	padding-bottom:75px;
}
.padding-tb100{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-tb125{
	padding-top:125px;
	padding-bottom:125px;
}
/* ==================================================
   5. Spacers Sets
================================================== */
.spacer-10{
	height:10px;
	clear:both;
	width:100%;
}
.spacer-20{
	height:20px;
	clear:both;
	width:100%;
}
.spacer-30{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-40{
	height:40px;
	clear:both;
	width:100%;
}
.spacer-50{
	height:50px;
	clear:both;
	width:100%;
}
.spacer-60{
	height:60px;
	clear:both;
	width:100%;
}
.spacer-75{
	height:75px;
	clear:both;
	width:100%;
}
.spacer-100{
	height:100px;
	clear:both;
	width:100%;
}
/* ==================================================
   5. Multi purpose Elements
================================================== */
.overlay-transparent{
	background:rgba(0,0,0,.7);
}
.overlay-white{
	background:rgba(255,255,255,.99);
}
.checkers-overlay{
	background:url(../images/checkers.png) repeat;
}
.pattern-overlay{
	background:url(../images/pattern.png) repeat;
}
.overlay-accent{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
	top:0;
	left:0;
	opacity:.9;
}
.overlay-cover{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:.9;
	z-index:0;
}
.next-prev-nav{
	display:inline-block;
}
.next-prev-nav a{
	display:inline-block;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	line-height:20px;
	text-decoration:none;
}
.next-prev-nav a:hover{
	color:#fff;
}
.meta-data{
	font-size:12px;
	line-height: 16px;
	display:block;
	font-weight:400;
	text-transform:uppercase;
}
.meta-data a{
	color:#999;
}
.meta-data a:hover{
	text-decoration:none;
}
.meta-data > span{
	display:inline-block;
}
.meta-data i{
	margin-right:4px;
}
.meta-data > span:last-child{
	margin-right:0;
}
p.meta-data{
	font-size:16px;
	line-height:1.7em;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	z-index:1;
	display:inline-block;
	max-width:100%;
}
.format-gallery .media-box{
	display:block;
}
.media-box .zoom, .media-box .expand, .magnific-image .zoom{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	font-size:1.5em;
	z-index:99;
	left:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.4);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.media-box .zoom .icon, .media-box .expand .icon, .magnific-image .zoom .icon{
	width:44px;
	height:44px;
	line-height:42px;
	text-align:center;
	color:#fff!important;
	position:absolute;
	font-size:1em;
	top:50%;
	left:50%;
	margin:-22px 0 0 -22px;
}
.img-thumbnail img:hover, .img-thumbnail:hover{
	opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.media-box .media-box-wrapper{
	padding:30px;
}
.social-icons, .social-icons-colored{
	margin:0;
	list-style-type:none;
}
.social-icons li, .social-icons-colored li{
	display:inline-block;
	margin-right:5px;
}
.social-icons li:last-child{
	margin-right:0;
}
.social-icons li a{
	text-align:center;
	color:#5E5E5E;
	display:block;
}
.social-icons-colored li a{
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:rgba(0,0,0,.1);
	display:block;
	color:#fff;
}
.social-icons li.facebook a:hover{
	color:#3B5998;
}
.social-icons li.twitter a:hover{
	color:#00ACED;
}
.social-icons li.behance a:hover{
	color:#1769FF;
}
.social-icons li.delicious a:hover{
	color:#3274D1;
}
.social-icons li.deviantart a:hover{
	color:#4B5D50;
}
.social-icons li.digg a:hover{
	color:#14589E;
}
.social-icons li.dribbble a:hover{
	color:#EA4C89;
}
.social-icons li.foursquare a:hover{
	color:#2398C9;
}
.social-icons li.github a:hover{
	color:#4183C4;
}
.social-icons li.google a:hover{
	color:#245DC1;
}
.social-icons li.googleplus a:hover{
	color:#D14836;
}
.social-icons li.instagram a:hover{
	color:#3F729B;
}
.social-icons li.jsfiddle a:hover{
	color:#4679A4;
}
.social-icons li.linkedin a:hover{
	color:#007FB1;
}
.social-icons li.pinterest a:hover{
	color:#CB2027;
}
.social-icons li.reddit a:hover{
	color:#FF4500;
}
.social-icons li.skype a:hover{
	color:#00AFF0;
}
.social-icons li.tumblr a:hover{
	color:#2C4762;
}
.social-icons li.vimeo a:hover{
	color:#44BBFF;
}
.social-icons li.youtube a:hover{
	color:#CD332D;
}
.social-icons li.flickr a:hover{
	color:#0063DB;
}
.social-icons-colored li.facebook a:hover{
	background-color:#3B5998;
}
.social-icons-colored li.twitter a:hover{
	background-color:#00ACED;
}
.social-icons-colored li.behance a:hover{
	background-color:#1769FF;
}
.social-icons-colored li.delicious a:hover{
	background-color:#3274D1;
}
.social-icons-colored li.deviantart a:hover{
	background-color:#4B5D50;
}
.social-icons-colored li.digg a:hover{
	background-color:#14589E;
}
.social-icons-colored li.dribbble a:hover{
	background-color:#EA4C89;
}
.social-icons-colored li.foursquare a:hover{
	background-color:#2398C9;
}
.social-icons-colored li.github a:hover{
	background-color:#4183C4;
}
.social-icons-colored li.google a:hover{
	background-color:#245DC1;
}
.social-icons-colored li.googleplus a:hover{
	background-color:#D14836;
}
.social-icons-colored li.instagram a:hover{
	background-color:#3F729B;
}
.social-icons-colored li.jsfiddle a:hover{
	background-color:#4679A4;
}
.social-icons-colored li.linkedin a:hover{
	background-color:#007FB1;
}
.social-icons-colored li.pinterest a:hover{
	background-color:#CB2027;
}
.social-icons-colored li.reddit a:hover{
	background-color:#FF4500;
}
.social-icons-colored li.skype a:hover{
	background-color:#00AFF0;
}
.social-icons-colored li.tumblr a:hover{
	background-color:#2C4762;
}
.social-icons-colored li.vimeo a:hover{
	background-color:#44BBFF;
}
.social-icons-colored li.youtube a:hover{
	background-color:#CD332D;
}
.social-icons-colored li.flickr a:hover{
	background-color:#0063DB;
}
.social-icons-rounded a{
	border-radius:100%;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
.flexslider .slides {
	zoom: 1;
	margin:0;
	list-style-type:none;
}  
.hero-slider{
	position:relative;
	z-index:1;
	width:100%;
	overflow:hidden;
	background-image:url(../images/loader.gif) no-repeat center center;
}
.flex-viewport{
	width:100%;
}
.flexslider > ul.slides{
	height:100%;
}
.flexslider ul.slides li{
	width:100%;
	overflow:hidden;
	position:relative;
	background-attachment:scroll!important
}
.flexslider ul.slides li > a{
	display:block;
}
.flexslider .flex-control-nav{
	width:100%;
	text-align:center;
	position:absolute;
	z-index:111;
	left:0;
	bottom:10px;
	padding:0;
	margin:0;
}
.hero-slider.flexslider .flex-control-nav{
	bottom:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.hero-slider.flexslider:hover .flex-control-nav{
	bottom:10px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.flexslider .flex-control-nav li{
	display:inline;
}
.flexslider .flex-control-nav a{
	width:12px;
	height:12px;
	border-radius:100%;
	background-color:#ffffff;
	display:inline-block;
	margin:0 6px;
	text-indent:-9999px;
	text-decoration:none;
}
.flexslider .flex-nav-prev a, .flexslider .flex-nav-next a{
	background:rgba(34,34,34,.7);
	color:#F9F9F9;
	margin-bottom:10px;
	position:absolute;
	top:50%;
	right:10px;
	font-size:14px;
	line-height:25px;
	width:25px;
	height:25px;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	display:none;
	text-align:center;
	margin-top:-13px;
	z-index:9;
}
.flexslider .flex-nav-prev a:hover, .flexslider .flex-nav-next a:hover{
	background:rgba(34,34,34,1);
}
.flexslider .flex-nav-prev a{
	left:10px;
	right:auto;
}
.flexslider .flex-nav-prev a:before{
  content: "\f104";
}
.flexslider .flex-nav-next a:before{
  content: "\f105";
}
.hero-slider.flexslider .flex-nav-prev a, .hero-slider.flexslider .flex-nav-next a{
	width:70px;
	height:70px;
	right:-70px;
	margin-top:-35px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	font-size:30px;
	line-height:70px;
	display:block;
	text-align:center;
}
.flexslider:hover .flex-nav-prev a, .flexslider:hover .flex-nav-next a{
	display:block;
}
.hero-slider.flexslider ul.slides li > a{
	display:block;
	height:100%;
	width:100%;
}
.hero-slider.flexslider .flex-nav-prev a{
	left:-70px;
}
.hero-slider.flexslider:hover .flex-nav-prev a{
	left:10px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
.hero-slider.flexslider:hover .flex-nav-next a{
	right:10px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}
.flex-direction-nav{
	margin:0;
	list-style-type:none;
}
.basic-link{
	display:inline-block;
	font-weight:700;
	font-size:13px;
	line-height:32px;
	text-transform:uppercase;
}

.basic-link:hover{
	color:#505050;
	text-decoration:none;
}
.basic-link.inverted{
	text-transform:uppercase;
	margin-top:10px;
}
.basic-link.backward .fa-angle-right{
	display:none;
}
.grid-filter{
	margin:0 0 50px 0;
}
.grid-filter-lable{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase
}
.sort-source{
	list-style-type:none;
	display:inline-block;
	margin:0;
}
.sort-source li{
	display:inline-block;
}
.sort-source li:after{
	content:"/";
	color:#ccc;
}
.sort-source.nav-pills li:after{
	content:"";
}
.sort-source li:last-child:after{
	content:"";
}
.sort-source li a{
	color:#999;
	margin:0 10px;
}
.sort-source.nav-pills li a{
	margin:0;
}
.sort-source.nav-pills li.active a{
	color:#fff;
}
.sort-source li:first-child a{
	margin-left:0;
}
.sort-source li a:hover{
	color:#222;
}
.sort-destination{
	margin:0;
	list-style-type:none;
}
.selectpicker{
	font-weight:400;
	padding-top: 5px;
	padding-bottom: 7px;
}
.selectpicker.btn-default{
	background:#fff;
	padding-left:14px;
	text-transform:none;
	font-size:14px;
	color:#999;
	line-height:1.2em;
	padding-top:8px;
	border: 1px solid #ccc;
	letter-spacing:0;
	text-shadow: none;
}
.input-lg .selectpicker.btn-default{
	height:46px;
}
.site-footer .selectpicker.btn-default{
	height:38px;
}
.selectpicker.btn-default:focus, .selectpicker.btn-default:active{
	box-shadow:none;
	background:#fff;
}
.btn-group.bootstrap-select.open .dropdown-toggle{
	background:none;
	box-shadow:none;
}
.selectpicker.btn-default .caret{
	margin-top:0!important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a{
	color:#fff;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a:hover{
	color:#666;
}
.input-lg .selectpicker{
	padding-top:12px;
	padding-bottom:11px;
}
.bootstrap-select.form-control{
	margin-bottom:20px!important;
}
.dgray-bg .icon-box-inline p{
	color:rgba(255,255,255,.4);
}
.carousel-wrapper{
	overflow:hidden;
	background:url(../images/loader.gif) no-repeat center center;
	min-height:150px;
}
.owl-carousel .owl-wrapper-outer{
	padding-top:30px;
}
.widget .owl-carousel .owl-wrapper-outer{
	padding-top:10px;
}
.btn-rounded{
	border-radius:30px;
}
.light-title{
	color:#fff!important;
}
.parallax-icon-link{
	opacity:.2;
	color:#fff;
}
.parallax-icon-link:hover{
	opacity:.9
}
.position-relative{
	position:relative;
}
#message{
	margin-top:20px;
}
.quick-quote{
	position:relative;
}
.quick-quote .loader{
	position:absolute;
	right:-10px;
	top:0;
}
#Quote-message{
	display: block;
	width: 100%;
	font-size: 12px;
}
.quote-teaser #Quote-message{
	position: absolute;
	top: 70px;
	left: auto;
}
.success-message{
	position:absolute;
}

/* ==================================================
   6. Site Structure & Appearance
================================================== */
body{
	background-color:#fff;
	color:#999;
	font-size:15px;
	font-weight:400;
	font-family:"Roboto", sans-serif;
	line-height:1.55em;
	background-attachment:fixed;
	overflow-x:hidden;
}
body.boxed{
	background-color:#333;
}
body.boxed .body{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	width:100%;
	max-width:1200px;
	height:auto;
	background-color:#ffffff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
	body.boxed .site-header{
		width:1200px;
		left:50%;
		margin-left:-600px;
	}
}
.header-wrapper{
	position:relative;
}
body.boxed .is-sticky .main-navigation{
	width:1200px;
}
.sticky-wrapper{
	height:auto!important;
}
.topbar{
	background:#404040;
	padding:15px 0;
}
.topbar .header-info-cols{
	float:left;
}
.topbar .header-info-cols li{
	padding-top:0;
}
.topbar .quote-head-btn{
	margin-top:0;
}
.site-logo{
	position:relative;
	width:300px;
	z-index:2;
	float:left;
	padding:12px 50px 12px 0;
}
.header-style3 .site-logo{
	padding-top:22px;
	padding-bottom:22px;
}
.site-logo:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 0 40px 70px 0;
}
.site-logo:before {
	content:"";
    position: absolute;
    top: 0;
    right: 70px;
	width:2000px;
	height:100%;
	z-index:0;
}
.site-logo a {
	position:relative;
	z-index:1;
}
.site-tagline{
	position:relative;
	z-index:2;
	float:left;
	background-color:#fff;
	line-height:70px;
}
.header-style3 .site-logo, .header-style3 .site-tagline{
	background:none;
}
.header-style3 .site-logo:after{
	display:none;
}
.header-style3 .topbar .btn-ghost{
	border-color:#fff;
	color:#fff;
}
.site-header{
	background-color:#fff;
	width:100%;
	position:relative;
	min-height: 70px;
}
.header-style3 .site-header{
	background:none;
	position:absolute;
	z-index:2;
}
.header-style3 .site-header:before, .header-style3 .site-header:after{
	display:none;
}
.header-style3 .sticky-wrapper{
	height:auto!important;
}
.is-sticky .site-header{
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	background-color:#fff;
	z-index:9999;
}
.header-style3 .is-sticky .site-header{
	background:rgba(0,0,0,.8);
}
.site-header-right{
	float:right;
	position:relative;
	z-index:2;
}
.header-style3 .site-logo:before{
	display:none;
}
.header-style3 .site-header-right{
	position:static;
}
.header-style3 .site-header .container{
	position:relative;
}
.header-style2 .site-header-right{
	position:static;
}
.header-style2 .site-header > .container{
	position:relative;
}
.header-style2 .dd-menu{
	float:right;
}
.site-header-right .dd-menu > li{
	margin-left:35px;
	margin-right:0
}
.site-header-right .dd-menu > li > a{
	line-height:70px;
}
#contact-info{
	display:none;
}
.header-info-cols{
	float:right;
	list-style-type:none;
	margin:0;
}
.header-info-cols li{
	float:left;
	font-size:13px;
	line-height:17px;
	padding-top:15px;
	white-space:nowrap;
	margin-left:20px;
}
.header-style2 .header-info-cols li, .header-style3 .header-info-cols li{
	margin-left:0;
	margin-right:20px;
}
.header-info-cols li > div{
	display:block;
	height:40px;
	float:left;
}
.header-info-cols li > div > div{
	display:table;
	vertical-align:middle;
}
.header-info-cols li > div > div > span{
	display:table-cell;
	vertical-align:middle;
	height:40px;
}
.header-info-cols li .icon-col{
	width:40px;
	height:40px;
	border-radius:100%;
	border:2px solid transparent;
	float:left;
	margin-right:10px;
	text-align:center;
	font-size:20px;
	line-height:36px;
}
.header-style3 .header-info-cols li{
	color:#fff;
}
.header-style3 .header-info-cols li .icon-col{
	border-color:#fff;
	color:#fff;
}
.header-style3 .topbar, .header-style3 .topbar a, .header-style3 .header-info-cols li, .header-style3 .header-info-cols li .icon-col, .header-style3 .topbar .btn-ghost, .header-style3 .topbar .social-icons li a{
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	color:rgba(255,255,255,.7);
}
.header-style3 .header-info-cols li .icon-col, .header-style3 .topbar .btn-ghost{
	border-color:rgba(255,255,255,.7);
}
.header-style3 .topbar a:hover, .header-style3 .header-info-cols li:hover, .header-style3 .header-info-cols li:hover .icon-col, .header-style3 .topbar .btn-ghost:hover, .header-style3 .topbar .social-icons li a:hover{
	color:#fff;
}
.header-style3 .header-info-cols li:hover .icon-col, .header-style3 .topbar .btn-ghost:hover{
	border-color:#fff;
}
.main-navigation{
	position:relative;
	z-index:3;
	width:100%;
	height:60px;
	background: rgba(255,255,255,.97);
	border-top:1px solid #eee
}
.is-sticky .main-navigation{
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	z-index:9999;
}
.main-navigation .container{
	position:relative;
}
.is-sticky .main-navigation{
}
.main-navigation .social-icons li, .topbar .social-icons li{
	margin-left:20px;
}
.main-navigation .social-icons a, .topbar .social-icons a{
	font-size:20px;
	line-height:60px;
}
.topbar .social-icons a{
	line-height:40px;
	color:#fff;
}
.dd-menu{
	margin:0;
	list-style-type:none;
	display:block;
}
#menu-toggle{
	display:none;
	background:#555;
	color:#fff;
	text-align:center;
	padding:5px 10px;
	margin-top:12px;
	border-radius:4px;
	text-transform:uppercase;
	font-size:13px;
	font-weight:700;
	letter-spacing:1px;
}
.header-style3 .dd-menu{
	margin-top:10px;
}
.dd-menu > li{
	font-size:16px;
	font-weight:400;
	position:relative;
	display:inline-block;
	float:left;
	margin-right:35px;
}
.dd-menu > li > a{
	display:block;
	color:#5e5e5e;
	line-height:60px;
}
.header-style3 .dd-menu > li > a{
	color:#fff;
}
.dd-menu > li > a > i{
	font-size:12px;
}
.dd-menu > li ul{
	margin:0;
	list-style-type:none;
	position:absolute;
	top:100%;
	left:-20px;
	margin-top:-1px;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	margin-left:0;
	border-top:3px solid;
	-webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
}
.dd-menu > li:hover ul{
	display:block;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.dd-menu > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
	font-weight:400;
	text-transform:none;
}
.dd-menu > li.megamenu{
	position:static;
}
.dd-menu > li.megamenu > ul > li a:first-child i.fa-caret-right{
	display:none;
}
.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > ul > li > a{
	display:block;
	padding:12px 20px;
	border-bottom:1px solid rgba(0,0,0,.05);
	white-space:nowrap;
	text-decoration:none;
	color:#5e5e5e;
}
.dd-menu > li > ul > li > a:hover{
	color:#333;
}
.dd-menu > li > ul > li > a:hover, .dd-menu > li > ul > li > ul > li > a:hover{
	text-decoration:none;
	background-color:#F6F6F6
}
.dd-menu > li > ul > li:last-child > a{
	border-bottom:0;
}
.dd-menu > li > ul li ul{
	margin:0;
	list-style-type:none;
	left:101%!important;
	top:0!important;
	min-width:150px;
	position:absolute;
	border:0;
}
.dd-menu > li.megamenu{
	position:inherit!important;
	left:0;
}
.dd-menu > li.megamenu > ul{
	margin:0;
	list-style-type:none;
	left:0!important;
	min-width:inherit;
	width:100%;
	top:100%;
	margin-top:-1px;
}
.dd-menu .megamenu-container{
	padding:25px;
	width:100%;
}
.dd-menu .megamenu-container ul{
	margin:0;
	list-style-type:none;
	display:block!important;
	left:0!important;
	box-shadow:none;
	opacity:1!important;
	background:transparent;
	position:static!important;
	text-align:left!important;
	margin-left:0;
	border-top:0;
}
.dd-menu .megamenu-container .megamenu-sub-title{
	display:block;
	margin-bottom:35px;
	font-size:21px;
	color:#333;
	text-align:left;
}
.dd-menu .megamenu-container ul li{
	font-size:15px;
	border-left:0;
}
.dd-menu .megamenu-container ul li a{
	margin:0;
	border-bottom:0;
	color:#5e5e5e;
}
.dd-menu .megamenu-container ul.sub-menu li a{
	display:block;
	border-bottom:1px solid #eee;
	padding: 10px 0;
}
.dd-menu .megamenu-container ul li a i{
	display:none;
}
.dd-menu .megamenu-container ul.sub-menu li:first-child a{
	padding-top:0;
}
.dd-menu .megamenu-container ul.sub-menu li a:hover{
	text-decoration:none;
}
.quote-head-btn{
	margin-top:11px;
	margin-left:30px;
}
.flexslider, .flexslider ul.slides li, .flex-caption-cell{
	height:275px;
}
.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
	height:475px;
}
.header-style3 .hero-slider, .header-style3 .hero-slider.flexslider ul.slides li, .header-style3 .flex-caption-cell{
	height:550px;
}
.hero-slider{
	background-color:#666;
}
.flex-caption-table{
	width:100%;
	display:table;
	vertical-align:middle;
}
.flex-caption-cell{
	display:table-cell;
	vertical-align:middle;
}
.flex-caption-text{
	display:block;
}
.flex-caption-text h1, .flex-caption-text h2, .flex-caption-text h3, .flex-caption-text p{
	color:#fff;
	margin-bottom:30px;
}
.flex-caption-text h2{
	font-size:41px;
	line-height:50px;
	margin-bottom:10px;

}
.flex-caption-text a.basic-link{
	color:#fff;
	font-weight:400;
	letter-spacing:2px;
}
.quote-teaser{
	position:relative;
	background:#404040;
}
.quote-teaser .container{
	position:relative;
	z-index:1;
}
.quote-teaser .selectpicker.btn-default{
	height:35px;
}
.quote-teaser h3{
	color:#fff;
	margin-bottom:0;
	background:#333;
	position:relative;
	height:100px;
	padding:30px 0 0;
	padding-right:50px;
		font-size: 18px;
}
.quote-teaser-title{
	width:300px;
	float:left;
	position:relative;
}
.quote-teaser-title:before {
	content:"";
    position: absolute;
    top: 0;
    right: 70px;
	width:2000px;
	height:100%;
	z-index:0;
	background:#333;
}
.quote-teaser h3:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-style: solid;
    border-color: transparent #404040 transparent transparent;
    border-width: 0 50px 50px 0;
}
.quote-teaser h3:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent #404040;
    border-width: 50px 0 0 50px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.quick-quote-wrapper{
	position:relative;
}
.quote-teaser form.quick-quote{
	padding-top:30px;
	padding-left:30px;
	margin-left:300px;
}
.quote-teaser .form-control{
	border:0;
}
.quote-teaser .btn-primary{
	height: 38px;
	padding-top: 4px;
	-webkit-border-radius:0;
	border-radius:0;
}
.content{
	padding:60px 0;
}
.home .content{
	padding-bottom:0;
}
.shadow-row{
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
	position:relative;
	z-index:1;
}
.feature-block{
	position:relative;
	background:#fff;
	padding:20px;
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	margin-top:50px;
	-webkit-transition:all 0.3s ease 0.1s;
	-moz-transition:all 0.3s ease 0.1s;
	-ms-transition:all 0.3s ease 0.1s;
	-o-transition:all 0.3s ease 0.1s;
	transition:all 0.3s ease 0.1s;
}
.feature-block:hover{
	-webkit-box-shadow:0 0 8px rgba(0,0,0,.08);
	box-shadow:0 0 8px rgba(0,0,0,.08);
	-webkit-transition:box-shadow .2s ease, border-bottom .2s ease;
	-o-transition:box-shadow .2s ease, border-bottom .2s ease;
	transition:box-shadow .2s ease, border-bottom .2s ease;
}
.feature-block:before, .feature-block:after, .main-navigation:before, .main-navigation:after{
	content:" ";
	display:table;
}
.feature-block:after, .main-navigation:after{
	clear:both;
}
.feature-block .icon{
	color:#ccc;
	font-size:26px;
	width:60px;
	height:60px;
	display:block;
	text-align:center;
	line-height:55px;
	border-radius:100%;
	border:1px solid #e6e6e6;
	-webkit-transition:all 0.3s ease 0.1s;
	-moz-transition:all 0.3s ease 0.1s;
	-ms-transition:all 0.3s ease 0.1s;
	-o-transition:all 0.3s ease 0.1s;
	transition:all 0.3s ease 0.1s;
}
.feature-block:hover .icon{
	color:#fff;
	-webkit-transition:background .2s ease, border .2s ease, color .2s ease;
	-o-transition:background .2s ease, border .2s ease, color .2s ease;
	transition:background .2s ease, border .2s ease, color .2s ease;
}
.feature-block h5{
	margin-bottom:10px;
	margin-top:20px;
}
.feature-block p{
	margin-bottom:0;
}
.connected-blocks{
	border-left:1px solid #e6e6e6;
	padding:0 0 30px 40px;
	position:relative;
	margin-left:20px;
}
.connected-blocks .icon{
	position:absolute;
	left:-20px;
	width:40px;
	height:40px;
	border-radius:100%;
	border:1px solid #e6e6e6;
	z-index:1;
	background:#fff;
	text-align:center;
	line-height:36px;
}
.connected-blocks h5{
	padding-top:8px;
	color:#999;
}
.connected-blocks h4{
}
.stacked-title{
	border-radius:0 0 4px 4px;
	color:#fff;
	padding:10px 30px;
	text-align:center;
	margin:0 auto;
	text-shadow:1px 1px 0 rgba(0,0,0,.1);
	display:inline-block;
}
.stacked-title-light{
	color:#333;
	background:#fff!important;
}
.grid-item .media-box{
	margin-bottom:20px;
}
.service-grid-item h4 a, .blog-list-item h4 a{
	color:#555;
}
.service-grid-item .more{
	text-transform:uppercase;
	font-weight:700;
	font-size:13px;
}
.service-grid-item .more:hover{
	color:#5e5e5e;
}
.team-grid-item h3{
	margin-bottom:5px;
}
.team-grid-item .meta-data{
	font-size:14px;
}
.team-grid-item p{
	padding-top:20px;
	border-top:1px solid #eee;
	margin-top:20px;
}
.team-grid-item .media-box{
	margin-bottom:0;
}
.team-grid-item .grid-item-inner{
	padding:20px;
	border:1px solid #eee;
	margin-bottom:20px;
}
.isotope-grid{
	list-style-type:none;
	margin:0;
}
.isotope-grid .service-grid-item{
	margin-bottom:40px;
}
.blog-list{
	list-style-type:none;
	margin:0;
}
.owl-carousel .blog-list-item, .blog-grid-item .grid-item-content{
	border-top:0;
	padding:20px;
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	background:#fff;
}
.owl-carousel .blog-list-item h4{
	padding-top:20px;
}
.owl-carousel .blog-list-item{
	padding-top:0;
	padding-left:0;
}
.owl-carousel .blog-list-item .blog-item-info{
	padding:15px 0 0 15px;
}
.owl-carousel .blog-list-item .meta-data{
	margin-bottom:5px;
	margin-top:5px;
}
.blog-list-item .basic-link{
	line-height:20px;
}
.blog-list-item .media-box{
	position:relative;
}
.blog-list-item .date, .blog-grid-item .date{
	position:absolute;
	left:10px;
	top:0;
	z-index:2;
	color:#fff;
	padding:22px 7px 7px;
	border-bottom:2px solid #fff;
}
.blog-grid-item{
	margin-bottom:30px;
}
.blog-grid-item .media-box{
	margin-bottom:0;
}
.blog-list-item .day, .blog-list-item .month, .blog-grid-item .day, .blog-grid-item .month{
	display:block;
	text-transform:uppercase;
	font-size:12px;
	line-height:14px;
}
.blog-list-item .day, .blog-grid-item .day{
	font-weight:700;
	font-size:14px;
}
.owl-carousel .project-grid-item .media-box{
	border:4px solid rgba(255,255,255,.6);
}
.owl-carousel .project-grid-item h4{
	text-align:center;
	margin-top:10px;
	margin-bottom:0;
}
.owl-carousel .project-grid-item h4 a{
	color:#fff;
}
.site-footer{
	background-color:#404040;
	padding:70px 0;
}
.site-footer-bottom{
	background-color:#333;
	padding:20px 0;
	color:#999;
}
.site-footer-bottom p{
	margin-bottom:0;
	font-size:13px;
}
.footer-menu{
	float:right;
	font-size:13px;
	list-style-type:none;
	margin:0;
}
.footer-menu li{
	display:inline-block;
	margin-left:10px;
}
.footer-menu li:after{
	content:"/";
}
.footer-menu li:last-child:after{
	content:"";
}
.footer-menu li a{
	 color:#999;
	 margin-right:10px;
 }
.footer-menu li:last-child a{
	margin-right:0;
}
.site-footer .social-icons-rounded a:hover{
	color:#fff;
}
.testimonial-block{
}
.testimonial-block blockquote{
	border-bottom:1px solid #eee;
	border-left:0;
	margin:0;
	padding:0;
	padding-bottom:20px;
	position:relative;
	margin-bottom:15px;
	padding-left:35px;
}
.testimonial-block blockquote:before{
	position:absolute;
	text-align:center;
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	content:"\f10d";
	font-size:30px;
	left:0;
	top:0;
	margin:0;
}
.testimonial-block blockquote:after{
	margin:0;
	height:auto;
	position:absolute;
	text-align:center;
	color:#eee;
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	content:"\f107";
	font-size:20px;
	left:25px;
	width:10px;
	text-indent:-1px;
	bottom:-15px;
	background:#fff
}
.lgray-bg .testimonial-block blockquote:after{
	background:#f7f7f7;
	color:#ddd;
}
.lgray-bg .testimonial-block blockquote{
	border-bottom-color:#ddd;
}
.testimonial-block blockquote p{
	color:inherit;
	padding-left:0;
}
.parallax .testimonial-block{
	width:60%;
	margin:0 auto;
	text-align:center;
}
.parallax .testimonial-block blockquote{
	border:0;
	padding-left:0;
	color:#fff;
}
.parallax .testimonial-block blockquote p{
	font-size:24px;
	line-height:36px;
}
.parallax .testimonial-block blockquote:before, .parallax .testimonial-block blockquote:after{
	display:none;
}
.parallax .testimonial-avatar img{
	float:none;
	margin-bottom:20px;
	margin-right:0;
}
.parallax .testimonial-info, .parallax .testimonial-info-in{
	display:block;
	color:#fff;
}
.parallax .testimonial-info span{
	color:#fff;
	opacity:.7;
}
.site-footer .testimonial-block blockquote:after{
	background:#404040;
}
.testimonial-avatar img{
	border-radius:100%;
	float:left;
	margin-right:20px;
	border:1px solid #eee;
}
.testimonial-info{
	height:60px;
	display:table;
	vertical-align:middle;
}
.testimonial-info-in{
	height:60px;
	display:table-cell;
	vertical-align:middle;
}
.testimonial-info strong{
	display:block;
	font-weight:400;
	line-height:14px;
}
.site-footer .testimonial-info strong{
	color:#fff;
}
.testimonial-info span{
	text-transform:uppercase;
	font-weight:700;
	font-size:11px;
	line-height:14px;
}
.testimonials-wbg{
	padding:25px;
	color:#fff;
}
.page-header{
	border-bottom:0;
	margin:0;
	padding:50px 0;
	background:#fbfbfb;
	box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-image:url(../images/leaves1.png);
	background-repeat:repeat;
}
.page-header.short{
	padding:20px 0;
}
.page-header h1, .breadcrumb a{
	margin-bottom:0;
	color:#fff;
}
.page-header .breadcrumb{
	margin-top:5px;
}
.page-header.dark h1, .page-header.dark .breadcrumb a{
	color:#555;
}
.page-header .breadcrumb{
	float:right;
}
.page-header .breadcrumb li{
	color:#ccc;
}
.feature-text h2{
	font-weight:400;
	margin-bottom:12px;
}
.feature-text p{
	margin-bottom:0;
}
.feature-text a{
	font-size:18px;
}
.btn .fa-file-pdf-o{
	position:relative;
	bottom:-4px;
	margin-right:5px;
}
.magnific-image{
	position:relative;
	display:block;
	z-index:1;
}
.magnific-image:hover > .zoom{
	opacity:1;
}
.project-grid-item{
	margin-bottom:40px;
}
.project-grid-item .media-box{
	margin-bottom:0;
}
.project-grid-item .project-title{
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	background:#fff;
	border-top:0;
	padding:10px 20px;
	font-weight:700;
	color:#555;
	display:block;
}
.label-pic{
	margin:10px 0;
	display:inline-block;
}
.project-list-item .project-title, .blog-list-item .blog-title{
	margin:-5px 0 12px;
}
.project-list-item .project-title a, .blog-list-item .blog-title a, .blog-grid-item .blog-title a{
	color:#555;
}
.project-list-item, .blog-list-item{
	margin-bottom:40px;
	padding-bottom:30px;
	border-bottom:1px solid #eee;
}
.blog-item-meta{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:10px 0;
	margin-bottom:15px;
}
.blog-item-meta > div{
	display:inline-block;
	padding-right:20px;
	margin-right:20px;
	border-right:1px solid #eee;
}
.blog-item-meta > div:last-child{
	border-right:0;
	margin-right:0;
}
.blog-item-meta > div a{
	color:#999;
}
.blog-item-meta > div a:hover{
	color:#555;
}
.grid-holder{
	list-style-type:none;
	margin:0;
}
.post-media{
	margin-bottom:30px;
}
.post-content{
	margin-bottom:40px;
}
.about-author{
	background:#f6f6f6;
	padding:20px;
	margin-top:35px;
	border-top:3px solid #e6e6e6;
}
.about-author .img-thumbnail{
	float:left;
	margin-right:20px;
	width:100px;
	max-width:100px;
	border:1px solid #fff;
	border-radius:100%;
}
.about-author .post-author-content{
	padding-left:120px;
}
.post-comments{
	margin:55px 0 0 0;
}
.comments{
	margin:0;
	list-style-type:none;
	padding-top:25px;
}
.comments li{
	margin-bottom:35px;
	border-bottom:1px solid #eee;
}
.comments li .post-comment-block{
	padding-bottom:15px;
}
.comments li.admin > .post-comment-block{
	background-color:#f9f9f9;
}
.comments li .img-thumbnail{
	float:left;
	margin-right:20px;
	width:80px;
	border:1px solid #fff;
	border-radius:100%;
	box-shadow:0 0 1px rgba(0,0,0,.2);
}
.comments li .meta-data{
	margin-bottom:12px;
}
.comments li h5{
	margin-bottom:5px;
	font-weight:700;
	font-size:16px;
}
.comments li h5 span{
	color:#999;
	font-weight:400;
	font-family:"Lora", serif;
}
.post-comment-content{
	padding-left:100px;
}
.comments li ul{
	padding-top:25px;
	padding-left:50px;
	margin:0;
	list-style-type:none;
	border-top:1px solid #eee;
}
.comments li ul > li:last-child{
	margin-bottom:0;
	border-bottom:0;
}
.post-comment-form{
	margin:35px 0 0 0;
	border-bottom:0;
}
.post-comment-form .form-control{
	margin-bottom:5px;
	margin-top:15px;
}
.post-comment-form .btn{
	margin-top:15px;
}
.working_hours{
	list-style-type:none;
	margin:0;
	margin-top:10px;
}
.working_hours li{
	display:block;
	border-bottom:1px solid rgba(0,0,0,.1);
	padding:10px 0;
	color:#fff;
}
.working_hours li:before, .working_hours li:after{
	content:"";
	display:table;
}
.working_hours li:after{
	clear:both;
}
.working_hours li span, .working_hours li strong{
	float:left;
	width:50%;
	opacity:.8;
}
.working_hours li strong{
	text-align:right;
}
.working_hours li:last-child strong{
	opacity:1;
}
#contact-map{
	height:400px;
}
#back-to-top{
	position:fixed;
	right:-40px;
	bottom:15px;
	background:rgba(0,0,0,.8);
	width:40px;
	height:40px;
	text-align:center;
	color:#fff;
	line-height:43px;
	overflow:hidden;
	font-size:17px;
	display:block;
	z-index:1111;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
/* ==================================================
   6.2. Widgets Styling
================================================== */
.widgettitle{
	position:relative;
}
.sidebar-widget.widget{
	margin-bottom:40px;
}
.widgettitle{
	margin-bottom:20px;
}
.sidebar-block .widget:last-child{
	margin-bottom:0;
}
.widget li.list-group-item{
	margin-bottom:0;
	border-bottom:0;
}
.widget_categories:before, .widget_categories:after, .widget_archive:before, .widget_archive:after{
	content:" ";
	display:table;
}
.widget_categories:after, .widget_archive:after{
	clear:both;
}
.widget_categories ul, .widget_archive ul, .widget_recent_entries ul, .widget_recent_comments ul, .widget_links ul, .widget_meta ul{
	list-style-type:none;
	margin:0;
}
.widget_categories ul li, .widget_archive ul li, .widget_recent_entries ul li, .widget_recent_comments ul li, .widget_links ul li, .widget_meta ul li, .widget_upcoming_events li, .widget_recent_causes li, .twitter-widget ul li{
	border-bottom:1px solid #F6F6F6;
	padding-bottom:10px;
	margin-bottom:10px;
}
.widget_categories ul li i, .widget_archive ul li i, .widget_recent_entries ul li i, .widget_recent_comments ul li i, .widget_links ul li i, .widget_meta ul li i, .widget_upcoming_events li i{
	font-size:11px;
	color:#999
}
.footer_widget.widget_categories ul li, .footer_widget.widget_archive ul li, .footer_widget.widget_recent_entries ul li, .footer_widget.widget_recent_comments ul li, .footer_widget.widget_links ul li, .footer_widget.widget_meta ul li, .footer_widget .twitter-widget ul li{
	border-bottom:1px solid rgba(255,255,255,.05);
}
.widget_categories ul li a, .widget_archive ul li a, .widget_recent_entries ul li a, .widget_recent_entries ul li a, .widget_recent_comments ul li a, .widget_links ul li a, .widget_meta ul li a{
	display:inline-block;
	position:relative;
	color:#5e5e5e;
}
.widget_recent_posts li:before, .widget_recent_posts li:after{
  display: table;
  content: " ";
}
.widget_recent_posts li:after{
	clear:both;
}
.widget_links ul li.active a{
	font-weight:700;
}
.widget .meta-data{
	margin-top:5px;
	line-height:20px;
}
.tag-cloud a{
	display:inline-block;
	margin-right:4px;
	margin-bottom:10px;
	padding:4px 11px;
	border-radius:3px;
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	background:#fff;
	text-decoration:none;
	font-size:13px;
}
.tag-cloud a:hover{
	text-decoration:none;
	color:#fff;
}
.twitter-widget li:nth-child(odd){
	display:none;
}
.twitter-widget ul{
	margin:0;
	list-style-type:none;
}
.twitter-widget .tweet-date{
	font-weight:700;
}
.footer_widget h4.widgettitle{
	text-transform:uppercase;
	border-bottom:0;
	color:#fff;
	font-weight:700;
	font-size:14px;
	margin-bottom:36px;
	letter-spacing:1px;
}
.footer_widget h4.widgettitle:before, .footer_widget h4.widgettitle:after{
	display:none;
}
.footer_widget, .site-footer .footer_widget a{
	color:#999;
}
.widget.recent_posts ul{
	list-style-type:none;
	margin:0;
}
.widget.recent_posts ul li{
	padding:0;
	margin-bottom:12px;
	padding-bottom:18px;
	border-bottom:1px solid #eee;
}
.widget.recent_posts ul li:last-child{
	border-bottom:0;
	margin-bottom:0;
}
.widget.recent_posts ul li .media-box{
	float:left;
	margin-top:5px;
}
.widget.recent_posts ul li .media-box img{
	width:70px;
}
.widget.recent_posts ul li h5{
	padding-left:90px;
	margin-bottom: 5px;
	font-weight:400;
	text-transform:none;
}
.widget.recent_posts ul li h5 a{
	color:#5e5e5e;
}
.widget.recent_posts ul li .meta-data.grid-item-meta{
	padding-left:90px;
	margin-bottom:0;
}
.widget_custom_menu ul{
	list-style-type:none;
	margin:0;
}
.widget_custom_menu ul li a {
	display:block;
	background:#f7f7f7;
	padding:17px 10px 17px 20px;
	margin-bottom:1px;
	font-weight:700;
	color:#555;
	border-left:4px solid transparent;
}
.widget_custom_menu ul li a:hover{
	border-left-color:#ddd;
}
.text_banner{
	padding:30px;
	position:relative;
}
.accent-bg.text_banner h4, .text_banner p{
	color:#fff;
}
.text_banner p{
	opacity:.6;
}
.text_banner:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 20px solid rgba(0,0,0,.1);
    border-right: 20px solid transparent;
}
.text_banner:after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-top: 19px solid #fff;
    border-left: 19px solid transparent;
}

/* ==================================================
   6.4. SHORTCODES
================================================== */
.fact-ico{
	float:left;
	margin:0 20px 0 0;
}
.fact{
	margin-top:10px;
	display:block;
	color:#666;
	font-size:18px;
	padding-left:80px;
}
.fact.padding-l0{
	padding-left:0;
}
.counters .timer{
	display:-block;
	color:#333;
	font-weight:700;
	font-size:38px;
	margin-top:5px;
}
.counters .timer.timer-huge{
	 font-size:80px;
	 line-height:80px
}
.parallax-light .fact-ico, .parallax-light .timer, .parallax-light h1, .parallax-light h2, .parallax-light h3, .parallax-light hr.sm:before{
	color:#fff;
}
.parallax-light .fact, .parallax-light p{
	color:rgba(255,255,255,.6);
}
.parallax-text-block{
	padding:40px;
	background:#fff;
	width:360px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
}
.icon-box{
	margin-bottom:30px;
}
.icon-box.ibox-plain.ibox-small{
	padding-left:26px
}
.icon-box .ibox-icon{
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	border-radius:50%;
}
.icon-box .ibox-icon i{
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px
}
.icon-box .before-heading{
	font-size:14px
}
.icon-box.ibox-large{
	padding:0 0 0 115px
}
.icon-box.ibox-large .ibox-icon {
	width:96px;
	height:96px;
}
.icon-box.ibox-outline .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:3px;
}
.icon-box.ibox-outline .ibox-icon i {
	line-height:56px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon {
	padding:4px;
}
.icon-box.ibox-rounded .ibox-icon,.icon-box.ibox-rounded .ibox-icon i,.icon-box.ibox-rounded .ibox-icon img {
	border-radius:3px!important;
}
.icon-box.ibox-rounded.ibox-large .ibox-icon,.icon-box.ibox-rounded.ibox-large .ibox-icon i,.icon-box.ibox-rounded.ibox-large .ibox-icon img {
	border-radius:4px!important;
}
.icon-box.ibox-light .ibox-icon i,.icon-box.ibox-light .ibox-icon img {
	border:1px solid #eee;
	background-color:#f9f9f9;
	color:#444;
}
.icon-box.ibox-light .ibox-icon i {
	line-height:62px;
}
.icon-box.ibox-light.ibox-large .ibox-icon i {
	line-height:96px;
}
.icon-box.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:84px;
}
.icon-box.ibox-dark.ibox-outline .ibox-icon {
	border-color:#444;
}
.icon-box.ibox-dark .ibox-icon i,.icon-box.ibox-dark .ibox-icon img {
	background-color:#505050;
}
.icon-box.ibox-border .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:0;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-border .ibox-icon img {
	border:none;
	background-color:transparent!important;
}
.icon-box.ibox-border.ibox-dark .ibox-icon {
	border-color:#505050;
}
.icon-box.ibox-plain .ibox-icon {
	border:none!important;
	height:auto!important;
}
.icon-box.ibox-plain .ibox-icon i,.icon-box.ibox-plain .ibox-icon img {
	border:none!important;
	background-color:transparent!important;
	border-radius:0;
}
.icon-box.ibox-plain .ibox-icon i {
	font-size:48px;
	line-height:1!important;
}
.icon-box.ibox-plain.ibox-image .ibox-icon {
	width:auto;
}
.icon-box.ibox-plain.ibox-image .ibox-icon img {
	width:auto;
	display:inline-block;
}
.icon-box.ibox-plain.ibox-small {
	padding-left:42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon {
	width:28px;
}
.icon-box.ibox-plain.ibox-small h3 {
	font-size:15px;
	line-height:26px;
	margin-bottom:10px;
}
.icon-box.ibox-plain.ibox-small p {
	margin-left:-42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon i {
	font-size:28px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon img {
	height:28px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon i {
	font-size:72px;
}
.icon-box.ibox-center {
	text-align:center;
	padding:0;
}
.icon-box.ibox-center .ibox-icon {
	position:relative;
	width:96px;
	height:96px;
	margin:0 auto 30px;
}
.icon-box.ibox-center.ibox-outline .ibox-icon i {
	line-height:88px;
}
.icon-box.ibox-center p {
	margin-top:15px;
}
.icon-box.ibox-center.ibox-large .ibox-icon {
	width:128px;
	height:128px;
}
.icon-box.ibox-center.ibox-large .ibox-icon i {
	font-size:70px;
	line-height:128px;
}
.icon-box.ibox-center.ibox-large.ibox-outline .ibox-icon i {
	line-height:118px;
}
.icon-box.ibox-center.ibox-light .ibox-icon i {
	line-height:94px;
}
.icon-box.ibox-center.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:114px;
}
.icon-box.ibox-center.ibox-large.ibox-border .ibox-icon i {
	line-height:126px!important;
}
.icon-box.ibox-center.ibox-plain .ibox-icon i {
	font-size:84px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon i {
	font-size:112px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon img {
	height:128px;
}
.icon-box.ibox-center.ibox-small .ibox-icon {
	width:64px;
	height:64px;
}
.icon-box.ibox-center.ibox-small .ibox-icon i {
	font-size:28px;
	line-height:64px;
}
.icon-box.ibox-center.ibox-small.ibox-outline .ibox-icon i {
	line-height:58px;
}
.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon i {
	font-size:56px;
}
.icon-box.ibox-center.ibox-small p {
	font-size:14px;
	margin-top:10px;
}
.icon-box.ibox-center.ibox-plain.ibox-small p {
	margin-left:0;
}
.icon-box.ibox-right {
	text-align:right;
	padding:0 80px 0 0;
}
.icon-box.ibox-right.ibox-large {
	padding-right:115px;
}
.icon-box.ibox-right .ibox-icon {
	left:auto;
	right:0;
}
.icon-box.ibox-right.ibox-plain.ibox-small {
	padding:0 42px 0 0;
}
.icon-box.ibox-right.ibox-plain.ibox-small p {
	margin:0 -42px 0 0;
}
.icon-box h3+.ibox-icon {
	margin-top:20px!important;
}
.icon-box h3 span.subtitle {
	display:block;
	margin-top:5px;
	color:#444;
	text-transform:none;
}
.icon-box.ibox-center:not(.ibox-bg) h3:after {
	content:'';
	display:block;
	width:30px;
	border-top:2px solid #505050;
	-webkit-transition:width .3s ease;
	-o-transition:width .3s ease;
	transition:width .3s ease;
	margin:20px auto;
}
.icon-box.ibox-center:not(.ibox-bg):hover h3:after {
	width:50px;
}
.icon-box.ibox-center.noborder:not(.ibox-bg) h3:after,.icon-box.ibox-center.nobottomborder:not(.ibox-bg) h3:after {
	display:none;
}
.icon-box.ibox-center.ibox-italic p {
	font-style:italic;
}
.icon-box.ibox-bg.ibox-center {
	margin-top:68px;
	background-color:#fff;
	border:1px solid #eee;
	border-radius:5px;
	padding:68px 30px 30px;
}
.icon-box.ibox-bg.ibox-center:first-child {
	margin-top:48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large {
	margin-top:84px;
	padding-top:84px;
}
.icon-box.ibox-bg.ibox-center.ibox-large:first-child {
	margin-top:64px;
}
.icon-box.ibox-bg.ibox-center .ibox-icon {
	position:absolute;
	top:-48px;
	left:50%;
	margin:0 0 0 -48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large .ibox-icon {
	top:-64px;
	left:50%;
	margin-left:-64px;
}
.icon-box.ibox-bg.ibox-center.ibox-border .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-outline .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-plain .ibox-icon {
	background-color:#FFF;
}
.icon-box .ibox-icon i {
	z-index:1;
	-webkit-transition:background-color .3s,color .3s;
	-o-transition:background-color .3s,color .3s;
	transition:background-color .3s,color .3s;
}
.icon-box .ibox-icon i:after {
	pointer-events:none;
	position:absolute;
	width:100%;
	height:100%;
	border-radius:50%;
	content:'';
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	top:-3px;
	left:-3px;
	box-shadow:0 0 0 2px #505050;
	-webkit-transition:0 .3s,opacity .3s;
	-webkit-transform:scale(.8);
	-moz-transition:0 .3s,opacity .3s;
	-moz-transform:scale(.8);
	-ms-transform:scale(.8);
	transition:transform .3s,opacity .3s;
	transform:scale(.8);
	opacity:0;
	padding:3px;
}
.icon-box .ibox-icon i:hover,.icon-box:hover .ibox-icon i {
	background-color:#505050;
	color:#fff;
}
.icon-box.ibox-outline:hover .ibox-icon{
	border-color:#505050;
}
.icon-box {
	position:relative;
	margin-top:20px;
	padding:0 0 0 80px;
}
.icon-box:first-child {
	margin-top:0;
}
.icon-box .ibox-icon {
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0;
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff;
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	border-radius:50%;
}
.icon-box .ibox-icon i {
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px;
}
.icon-box h3 {
	font-size:18px;
	margin-bottom:0;
	text-transform:uppercase;
}
.icon-box p {
	margin:8px 0 0;
}
.icon-box .before-heading {
	font-size:14px;
}
.icon-box.ibox-large {
	padding:0 0 0 115px;
}
.icon-box.ibox-large .ibox-icon i,.icon-box.ibox-center .ibox-icon i {
	font-size:42px;
	line-height:96px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline .ibox-icon i {
	line-height:86px;
}
.icon-box.ibox-light.ibox-outline .ibox-icon,.icon-box.ibox-border.ibox-light .ibox-icon {
	border-color:#eee;
}
.icon-box.ibox-light.ibox-outline .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline.ibox-small .ibox-icon i {
	line-height:54px;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-center.ibox-small.ibox-border .ibox-icon i {
	line-height:62px!important;
}
.icon-box.ibox-border.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-border .ibox-icon i {
	line-height:94px!important;
}
.icon-box.ibox-border.ibox-light .ibox-icon i,.icon-box.ibox-border.ibox-light .ibox-icon img,.icon-box.ibox-plain.ibox-light .ibox-icon i,.icon-box.ibox-plain.ibox-light .ibox-icon img {
	color:#888;
}
.icon-box.ibox-border.ibox-dark .ibox-icon i,.icon-box.ibox-border.ibox-dark .ibox-icon img,.icon-box.ibox-plain.ibox-dark .ibox-icon i,.icon-box.ibox-plain.ibox-dark .ibox-icon img {
	color:#444;
}
.icon-box.ibox-plain .ibox-icon img,.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon img {
	height:64px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon img,.icon-box.ibox-center.ibox-plain .ibox-icon img {
	height:96px;
}
.ibox-rounded .ibox-icon i:after,.ibox-border.ibox-rounded .ibox-icon i:after {
	border-radius:3px;
}
.icon-box.ibox-white .ibox-icon{
	border-color:#fff!important;
}
.icon-box.ibox-white .ibox-icon i{
	color:#fff!important;
}
.icon-box.ibox-white h3{
	color:#fff;
}
.icon-box.ibox-white p{
	color:#fff;
	opacity:.7;
}


/* ==================================================
   6.5. Overriding Classes
================================================== */
.parallax{
	background-attachment: fixed!important;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#333;
	position:relative;
}
.touch .parallax, .page-banner.parallax{
	background-attachment:scroll!important;
}

/*-------------------------------------------------------------------------------------------*/
/* Pricing Tables
/*-------------------------------------------------------------------------------------------*/
.pricing-table {
	margin-top: 50px;	
	margin-bottom: 50px;
}
.pricing-table:after { 
	display: block; 
	visibility: hidden; 
	clear: both; 
	height: 0;
	content: "";
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-left: 1px solid #eee!important;
}
.pricing-column {
	float: left;
	overflow: hidden;
	padding: 0px;
	background-color: #fff;
	text-align: center;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.pricing-column .features{
	padding:0;
	margin-bottom:0;
	background:none;
}
.pricing-column .features a{
	color:#5e5e5e;
}
.pricing-column .pricing-column-content {
	padding: 0px 0px 20px 0px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pricing-column.highlight {
	z-index: 1;
	margin: -20px 0 0 -1px;
	background-color: #ffffff;
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}
.pricing-table .popover{
	text-align:center;
}
.pricing-column ul li {
	padding: 10px 25px;
	border-bottom: 1px solid #eee;
	color: #666666!important;
	list-style: none;
	line-height: 18px;
}
.pricing-column ul li a{
	margin-left:10px;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #eee;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #F9F8F5;
}
.pricing-column.highlight h3 {
	margin-bottom: 0px!important;
	padding: 15px 0px;
	color: #ffffff!important;
}
.toggle .pricing-column h3 {
	font-size: 26px!important;
}
.pricing-column h3 {
	margin-bottom: 0px;
	padding: 18px 0px 18px 0px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #ffffff;
	font-size: 26px;
	line-height: 28px;
}
.pricing-column h4 {
	margin-bottom: 0px;
	margin-left: -22px;
	padding: 20px 30px 6px 30px;	
	color: #333333;
	font-size: 54px!important;
	line-height: 42px!important;
}
.pricing-column h4 .dollar-sign {
	position: relative;
	top: -14px;
	right: -6px;
	font-size: 22px;
	line-height: 22px;
}
.pricing-column .interval {
	display: block;
	padding-bottom: 17px;
	min-height: 38px;
	color: #999999;
}
.pricing-column ul {
	margin-left: 0px;
}
.pricing-column .btn{
	margin-top:25px;
}
.pricing-column.highlight .btn{
	margin-bottom:20px;
}
.pricing-table.six-cols > div {
	width: 16.5%;
}
.pricing-table.five-cols > div {
	width: 20%;
}
.pricing-table.four-cols > div {
	width: 25%;
}
.pricing-table.three-cols > div {
	width: 33.2%;
}
.pricing-table.two-cols > div {
	width: 50%;
}
.cProgress {
    width: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
	background:#fff;
	border-radius:100%;
	cursor:default;
	color:#666;
}
.cProgress canvas {
    vertical-align: top;
}
.cProgress strong {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}
.cProgress strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
.cProgress span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}


/* ==================================================
   7. Responsive Media Queries
================================================== */
@media (min-width:1200px){
}
@media (min-width: 992px) and (max-width: 1199px) {
	.site-header .container, .main-navigation .container, .quote-teaser .container, .topbar .container{
		width:100%;
	}
	.site-tagline{
		display:none
	}
	.dd-menu > li{
		margin-right:25px;
	}
	.site-header-right .dd-menu > li{
		margin-left:25px;
	}
	.widget .btn-block{
		padding-left:12px;
		padding-right:12px;
	}
	.feature-text a{
		font-size:inherit;
	}
	.counters .timer{
		font-size:38px!important;
	}
}
@media only screen and (max-width: 992px) {
	.pricing-column .features{
		margin-bottom:0;
	}
	.pricing-column.highlight {
		margin: 0;
  	}
	.pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
		border-left: 1px solid #eeeeee!important;
	}
  	.pricing-column ul li:first-child {
	  	border-top: 1px solid #eeeeee;
  	}
  	.pricing-column ul li:nth-child(2n+1) {
	  	background-color: #f8f8f8;
  	}
  	.toggle .pricing-column h3 {
	  	font-size: 26px!important;
  	}
  	.pricing-column.highlight .btn{
	  	margin-bottom:0;
  	}
	.pricing-table.six-cols > div {
		width: 50%;
	}
	.pricing-table.five-cols > div {
		width: 50%;
	}
	.pricing-table.four-cols > div {
		width: 50%;
	}
	.pricing-table.three-cols > div {
		width: 50%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}
	.site-header .container, .main-navigation .container, .quote-teaser .container, .topbar .container{
		width:100%;
	}
	.site-tagline{
		display:none
	}
	#contact-info{
		float:right;
		display:inline-block;
		margin-top:12px;
	}
	.site-header-right{
		float:left;
		width:100%;
		display:none
	}
	.header-info-cols{
		float:none;
		text-align:center;
	}
	.header-info-cols li{
		padding-bottom:15px;
		text-align:left;
		float:none;
		display:inline-block;
		margin:0 10px;
	}
	.main-navigation .container{
		position:static;
	}
	.main-navigation .quote-head-btn{
		margin-left:0;
		background:#555;
	}
	.main-navigation .quote-head-btn, .main-navigation .social-icons{
		float:left!Important;
	}
	.dd-menu{
		display:none;
		position:absolute;
		width:100%;
		background:#555;
		top:100%;
		left:0;
		padding-top:15px;
	}
	.dd-menu > li{
		width:100%;
		float:none;
		display:block;
	}
	#menu-toggle{
		display:inline-block;
		float:right;
	}
	.dd-menu > li > a {
		color: #fff;
		line-height: 20px;
		padding: 15px 25px;
	}
	.dd-menu > li.megamenu{
		position:static!important;
	}
	.dd-menu > li:last-child{
		margin-bottom:25px;
	}
	.dd-menu > li ul, .dd-menu > li > ul li ul{
		position:static;
	}
	.dd-menu .megamenu-container .megamenu-sub-title{
		margin-top:30px;
	}
	.quote-teaser-title::before{
		right:-30px;
	}
	.quote-teaser h3:before, .quote-teaser h3:after{
		display:none;
	}
	.quote-teaser-title{
		width:100%;
		float:none;
	}
	.quote-teaser form.quick-quote{
		margin-left:0;
		padding-bottom:15px;
		padding-left:0;
	}
	.quote-teaser h3{
		padding:20px 0;
		height:auto;
	}
	.footer_widget{
		margin-bottom:40px;
	}
	.site-footer{
		padding-bottom:20px;
	}
	.fact-ico{
		margin-bottom:40px;
	}
	.header-style2 #menu-toggle, .header-style3 #menu-toggle{
		margin-top:17px;
	}
	.topbar .header-info-cols{
		width:100%;
		display:none;
	}
	.header-style2 .header-info-cols li, .header-style3 .header-info-cols li{
		padding-bottom:0;
		padding-top:15px;
	}
	.header-style2 #contact-info, .header-style3 #contact-info{
		margin-top:10px;
	}
	.header-style2 .site-header-right, .header-style3 .site-header-right{
		display:block;
		position:relative;
	}
	.header-style2 .site-header > .container, .header-style3 .site-header > .container{
		width:100%;
		padding-left:0;
		padding-right:0;
		position:static;
	}
	.header-style2 .site-logo, .header-style3 .site-logo{
		margin-left:15px;
	}
	.header-style2 #menu-toggle, .header-style3 #menu-toggle{
		margin-right:15px;
	}
	.site-header-right .dd-menu > li{
		margin-left:0;
	}
	.site-header-right .dd-menu > li > a{
		line-height:20px;
		padding-top:15px;
		padding-bottom:15px;
	}
	.dd-menu > li > a{
		border-bottom:1px solid rgba(0,0,0,.1);
	}
	.dd-menu > li ul{
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	.header-style3 .site-logo{
		padding-top:12px;
		padding-bottom:12px;
	}
	.page-header{
		padding:20px 0;
	}
	.feature-text{
		margin-bottom:20px;
	}
	.counters .timer{
		font-size:38px!important;
	}
.sidebar-widget.widget{
	margin-bottom:0;
	margin-top:40px;
}
}
@media only screen and (max-width: 767px) {
	/* Isotope */
	.isotope {
		overflow: visible !important;
		height: auto !important;
	}
	.isotope-item {
		position: static !important;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		float:none;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}
	.isotope-hidden {
		display: none !important;
	}
	.pricing-table.six-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.five-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.four-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.three-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.two-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.site-logo{
		width:250px;
	}
	.site-header{
		min-height:0;
	}
	#contact-info{
		line-height: 1.6;
		margin-top: 15px;
	}
	.quote-teaser form.quick-quote{
		padding-bottom:30px;
	}
	.feature-block{
		margin-top:30px;
	}
	.parallax br{
		content: " ";
    	display: none;
	}
	.parallax{
		padding-left:20px;
		padding-right:20px;
	}
	.owl-carousel .blog-list-item .row{
		margin-left:0;
		margin-right:0;
	}
	.owl-carousel .blog-list-item{
		padding:0;
		padding-bottom:20px;
		padding-top:15px;
	}
	.owl-carousel .blog-list-item .blog-item-info{
		padding-left:0;
	}
	.owl-carousel .blog-list-item{
		margin-bottom:0;
	}
	.copyrights-col-left, .copyrights-col-right{
		text-align:center;
	}
	.copyrights-col-left{
		margin-bottom:20px;
	}
	.copyrights-col-right .social-icons-rounded{
		float:none!important;
	}
	.topbar .social-icons li{
		margin-left:12px;
	}
	.page-header h1{
		font-size:20px;
		margin-top:10px;
	}
	.grid-filter{
		margin-bottom:30px;
	}
	.project-list-item .media-box, .blog-list-item .media-box{
		margin-bottom:20px;
	}
	.parallax .testimonial-block{
		width:80%;
	}
	#contact-info{
		border:0;
		padding-left:0;
		padding-right:0;
	}
	#contact-info:hover, #contact-info:active{
		background:none;
		color:#3a3a3a
	}
	.flex-caption-text h2{
		font-size:24px;
		line-height:normal;
	}
	.site-logo:after{
		border-bottom-width:65px;
	}
	.topbar .quote-head-btn{
		margin-left:20px;
	}
	.header-style2 #contact-info:hover, .header-style3 #contact-info:active{
		color:#fff;
	}
	#contact-info{
		font-size: 24px;
		line-height: 24px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 480px) {
	.main-navigation .social-icons{
		display:none;
	}
	.page-header .breadcrumb{
		display:none;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
}
     .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (max-width: 850px) {
	.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell {
		max-height: 275px;
	}
}